.ipynb_checkpoints/
__pycache__/
data/
Project/WaDi.A1_9 Oct 2017/
CS6678 - AdvancedMachineLearning.bib
Homework/HW3/AI School Module 3 Assignment - GL.docx
Homework/HW4/AI School Module 4 Assignment - GL.docx
Jupyter Notebooks/work/
Project/Dataset Downloads/
Project/work/
Project/working/
Project/data/
Project/paper/
Project/make_notebooks.py
Project/WaDi.A2_19 Nov 2019/
Project/Project Updates/CS6678 Project_Outline.pdf
Project/Project Updates/CS6678_Biweekly_Project_Update_Assignment.pdf
Project/Project Updates/CS6678 Project Update 4 - GL.pdf
Project/Project Updates/CS6678 Project Proposal - GL.pdf
CS6678/Datasets.md
CS6678/Fault Injection Document - Sources.md
.gitignore
CS6678/Research Papers.md
CS6678/.obsidian/app.json
.gitignore
CS6678/.obsidian/appearance.json
CS6678/.obsidian/community-plugins.json
CS6678/.obsidian/core-plugins.json
.gitignore
CS6678/.obsidian/graph.json
CS6678/.obsidian/hotkeys.json
.gitignore
CS6678/.obsidian/workspace.json
.gitignore
CS6678/.obsidian/plugins/obsidian-citation-plugin/data.json
CS6678/.obsidian/plugins/obsidian-citation-plugin/main.js
CS6678/.obsidian/plugins/obsidian-citation-plugin/manifest.json
CS6678/.obsidian/plugins/obsidian-citation-plugin/styles.css
Homework/.claude/settings.local.json
Homework/HW6/AI School Module 6 Assignment - GL.docx
Homework/HW6/HW_6-NOAA - GL.ipynb
Homework/HW6/HW_6-NOAA.ipynb
Jupyter Notebooks/Untitled.ipynb
Project/Untitled.ipynb
Project/WADI_A1_NB1_DataCollection_OLD.ipynb
Project/.claude/settings.local.json
